// Breakpoints
$breakpoint-smaller: 420px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-larger: 1200px;
$breakpoint-largest: 1440px;
$breakpoint-huge: 1820px;
