#
# Private
#
REACT_APP_PORTIS_DAPP_ID=006cdb48-470e-466c-aa20-c4de6ebd10e7
REACT_APP_INFURA_PROJECT_ID=464bfe80298f4d0782f61h4b91de2dcb

#
# Public
#
# true, false
REACT_APP_IS_MAINNET=true
# string (only if REACT_APP_IS_MAINNET=false)
REACT_APP_TESTNET_LAUNCHPAD_NAME=Pyrmont
# string
REACT_APP_FORTMATIC_KEY=pk_test_D113D979E0D3508F
# string
REACT_APP_CONTRACT_ADDRESS=0x00000000219ab540356cBB839Cbe05303d7705Fa
# number
REACT_APP_ETH_REQUIREMENT=524288
# number
REACT_APP_ETH_DEPOSIT_OFFSET=0
# number
REACT_APP_PRICE_PER_VALIDATOR=32
# Uint8Array such as "0x00000000"
REACT_APP_GENESIS_FORK_VERSION=0x00000000
# string
REACT_APP_MIN_DEPOSIT_CLI_VERSION=1.0.0
# string
REACT_APP_LIGHTHOUSE_INSTALLATION_URL=https://lighthouse-book.sigmaprime.io/
# string
REACT_APP_NIMBUS_INSTALLATION_URL=https://status-im.github.io/nimbus-eth2/intro.html
# string
REACT_APP_PRYSM_INSTALLATION_URL=https://docs.prylabs.network/docs/install/install-with-script
# string
REACT_APP_TEKU_INSTALLATION_URL=https://docs.teku.pegasys.tech/en/latest/HowTo/Get-Started/Build-From-Source/
